@model List<ChuongTrinh.Models.ProductInCartDTO>
@using System.Globalization;
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout_Client.cshtml";
    decimal total = 0;
    foreach (var item in Model)
    {
        total += item.SoLuong * item.GiaBan;
    }
    var totalString = total.ToString("C0", CultureInfo.CurrentCulture).Substring(1) + " đ";
    var client = Model.FirstOrDefault();

}
@using (Html.BeginForm())
{
    <section class="inner-section checkout-part">
        <div class="container">
            <div class="row">

                <div class="shop-widget">
                    <h2>Thông tin đơn hàng</h2>
                    <form>
                        <div class="shop-widget-group">
                            <label>Họ tên</label>
                            <input value="@client.KhachHang.TenKH" disabled />
                            <label>Địa chỉ</label>
                            <input value="@client.KhachHang.DiaChi" disabled />
                            <label>Điện thoại</label>
                            <input value="@client.KhachHang.SoDienThoai" disabled />
                            <label>Email</label>
                            <input value="@client.KhachHang.Email" disabled />

                        </div>

                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 alert-info">
                    <div class="account-card">
                        <div class="account-title">
                            <h4>Đơn hàng của bạn</h4>
                        </div>
                       
                        <div class="account-content">
                            <div class="table-scroll">
                                <table class="table-list">
                                    <thead>
                                        <tr>
                                            <th scope="col">STT</th>
                                            <th scope="col">Ảnh</th>
                                            <th scope="col">Tên</th>
                                            <th scope="col">Giá</th>
                                            <th scope="col">Số lượng</th>
                                            <th scope="col">Hành động</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            var count = 0;
                                        }

                                        @foreach (var item in Model)
                                        {
                                            count++;
                                            <tr>
                                                <td class="table-serial">@count</td>
                                                <td class="table-serial"><img width="50" height="50" src="~/wwwroot/Client/images/products/@item.HinhAnh" /></td>
                                                <td class="table-serial" style="text-align:left;">@item.TenSP</td>
                                                <td class="table-serial">@item.GiaBan</td>
                                                <td class="table-quantity">
                                                    <div class="cart-action-group" style="justify-content: center">
                                                        <div class="product-action">
                                                            
                                                            <input class="action-input quantity" title="Quantity Number" type="text" name="quantity" value="@item.SoLuong">
                                                            
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="table-action">
                                                    <a class="view" href="@Url.Action("Details","Product",new { id=item.MaSP}) " title="Quick View" data-bs-toggle="modal" data-bs-target="#product-view"><i class="fas fa-eye"></i></a>
                                                </td>
                                            </tr>
                                        }



                                    </tbody>
                                </table>
                            </div>
                            <div class="checkout-charge mt-5 mb-3">
                                <ul>
                                    <li><p>Tổng số tiền </p><br /><p> @totalString</p></li>
                                </ul>
                            </div>

                         
                            <div class="checkout-proced col-md-12">
                                <a href="@Url.Action("Main","Main")" class="btn btn-inline">Tiếp tục mua sắm</a>
                                
                                    <a href="@Url.Action("CancleOrder","Main")" class="btn btn-danger" id="cancle">Hủy đơn hàng</a>
                                

                            </div>
                            

                            <input id="quantity1" value="10" hidden />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

}

<script>
    $('#cancle').click(function () {
        confirm('Bạn có chắc muốn hủy đơn hàng ?');
    });
</script>

