@model List<ChuongTrinh.Models.ProductInCartDTO>
@using System.Globalization;
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout_Client.cshtml";
    decimal total = 0;
    foreach (var item in Model)
    {
        total += item.SoLuong * item.GiaBan;
    }
    var totalString = total.ToString("C0", CultureInfo.CurrentCulture).Substring(1) + " đ";

}
@using (Html.BeginForm())
{
    <section class="inner-section checkout-part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 alert-info">
                    <div class="account-card">
                        <div class="account-title">
                            <h4>Giỏ hàng của bạn</h4>
                        </div>
                        <div class="account-content">
                            <div class="table-scroll">
                                <table class="table-list">
                                    <thead>
                                        <tr>
                                            <th scope="col">STT</th>
                                            <th scope="col">Ảnh</th>
                                            <th scope="col">Tên</th>
                                            <th scope="col">Giá</th>
                                            <th scope="col">Số lượng</th>
                                            <th scope="col">Hành động</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            var count = 0;
                                        }

                                        @foreach (var item in Model)
                                        {
                                            count++;
                                            <tr>
                                                <td class="table-serial">@count</td>
                                                <td class="table-serial"><img width="50" height="50" src="~/wwwroot/Client/images/products/@item.HinhAnh" /></td>
                                                <td class="table-serial" style="text-align:left;">@item.TenSP</td>
                                                <td class="table-serial">@item.GiaBan</td>
                                                <td class="table-quantity">
                                                    <div class="cart-action-group" style="justify-content: center">
                                                        <div class="product-action">
                                                            <button class="action-minus" title="Quantity Minus">
                                                                <i class="icofont-minus"></i>
                                                            </button>
                                                            <input class="action-input quantity" title="Quantity Number" type="text" name="quantity" value="@item.SoLuong">
                                                            <button class="action-plus" title="Quantity Plus" >
                                                                <a href="@Url.Action("Up","Main",new {masp=item.MaSP})">
                                                                    <i class="icofont-plus"></i>
                                                                </a>

                                                            </button>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="table-action">
                                                    <a class="view" href="@Url.Action("Details","Product",new { id=item.MaSP}) " title="Quick View" data-bs-toggle="modal" data-bs-target="#product-view"><i class="fas fa-eye"></i></a><a class="trash" href="@Url.Action("RemoveFromCart","Main",new { productCode=item.MaSP}) " title="Remove Wishlist"><i class="icofont-trash"></i></a>
                                                </td>
                                            </tr>
                                        }



                                    </tbody>
                                </table>
                            </div>
                            <div class="checkout-charge mt-5 mb-3">
                                <ul>
                                    <li><p>Tổng số tiền </p><br /><p> @totalString</p></li>
                                </ul>
                            </div>

                            @if (Model.Count > 0 && ViewBag.Change == null)
                            {
                                <div class="checkout-proced col-md-12">
                                    <a href="@Url.Action("Order","Main")" class="btn btn-inline">thanh toán</a>
                                </div>
                            }
                            @if (Model.Count > 0 && ViewBag.Change != null)
                            {
                                <div class="checkout-proced col-md-12">
                                    <a href="@Url.Action("Main","Main")" class="btn btn-inline">Tiếp tục mua sắm</a>
                                </div>
                            }

                            <input id="quantity1" value="10" hidden />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

}



